@charset "UTF-8";

#custom-alert .inner{display: flex; width: calc(100% - 1em * 2); height: 100%; align-items: center; justify-content: center; padding: 0 1em;}
#custom-alert .inner .alert-wrap{width: 400px; background-color: white; border-radius: 1em; padding: 1em;}
#custom-alert .inner .alert-wrap .content{margin: 1em 0; font-size: 20px; text-align: center;}
#custom-alert .inner .alert-wrap .content pre{font-family: "NanumSquare"; line-height: 1.5;}
#custom-alert .inner .alert-wrap .button-wrap{text-align: center;}
#custom-alert .inner .alert-wrap .button-wrap button{background-color: rgb(0,112,196); font-size: 20px; outline: none; border: none; color: white; padding: 0.5em 1em; cursor: pointer;}

#custom-alert .inner .alert-wrap #terms-content{font-size: 12px; height: 65vh; background-color: white; text-align: left; overflow-y: scroll; padding: 1em;}
#custom-alert .inner .alert-wrap #terms-title{font-size: 20px;}
#custom-alert .inner .alert-wrap #terms-subtitle{margin-left: 10px; font-size: 16px;}

#custom-alert .inner .alert-wrap .exit-wrap{text-align: right;}
#custom-alert .inner .alert-wrap .exit-wrap button{border: none; background-color: rgba(0,0,0,0); padding: 0; margin: 0; width: 30px; height: 30px; outline: none; cursor: pointer;}

#custom-alert .inner .product-wrap{width: 1000px;}
#custom-alert .inner .product-wrap .product-inner{display: flex; flex-direction: row; width: calc(100% - 60px); margin: 0 auto; padding-bottom: 30px;}
#custom-alert .inner .product-wrap .product-inner .product-image{width: 500px; margin-right: 50px;}
#custom-alert .inner .product-wrap .product-inner .product-image #product-image-one{width: 100%; height: 500px;}
#custom-alert .inner .product-wrap .product-inner .product-image .list-wrap{width: 100%; overflow-x: scroll;}
#custom-alert .inner .product-wrap .product-inner .product-image #product-image-one{background-color: rgba(0,0,0,0.1);}
#custom-alert .inner .product-wrap .product-inner .product-image #product-image-list{list-style: none; padding: 0; margin: 0;}
#custom-alert .inner .product-wrap .product-inner .product-image #product-image-list li{display: inline-block; width: 100px; height: 100px; border: 2px solid rgba(0,0,0,0); cursor: pointer;}
#custom-alert .inner .product-wrap .product-inner .product-image #product-image-list .active{border: 2px solid black;}

#custom-alert .inner .product-wrap .product-inner .product-content{position: relative; width: 450px; box-sizing: border-box;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-event-wrap{display: flex;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-event-wrap .event-box{display: inline-flex; align-items: center; justify-content: center; background-color: rgb(0,112,196); color: white; padding: 0 1em;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-name{font-size: 20px; padding: 1em 0;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info .option-wrap{border-bottom: 2px solid gray;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info .option-wrap .option{display: flex; padding: 1em 0 1em 1em;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info .option-wrap .option .option-title{font-size: 16px; flex-basis: 30%; display: flex; align-items: center;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info .option-wrap .option .option-content{font-size: 16px; flex-basis: calc(70% - 1em); text-align: center;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info .option-wrap .option .option-content select{width: 100%;text-align-last: center; -ms-text-align-last: center; -moz-text-align-last: center; outline: none; text-align: center; font-family: "NanumSquare"; font-size: 16px; padding: 0.5em 0; border: 1px solid black;}

#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-option-wrap{width: calc(100% - 5px); max-height: calc(((16px + 0.5em * 2 + 2px) + 1em * 2) * 3); overflow-y: scroll;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-option-wrap .option{padding: 0; padding-bottom: 1em;}

#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-selected-option{width: calc(100% - 5px); max-height: calc((16px + 1em * 2) * 3); overflow-y: scroll;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-selected-option .selected-option{display: flex; padding: 1em 0; font-size: 16px;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-selected-option .selected-option .name{width: 200px; text-overflow: ellipsis; height: 16px; font-size: 16px; overflow: hidden; white-space: nowrap; word-break: break-all;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-selected-option .selected-option .number-wrap{width: 100px;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-selected-option .selected-option .number-wrap button, input{width: calc(100px / 3 - 2px); border: none; padding: 0; margin: 0; border: 1px solid black; text-align: center; outline: none;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info #product-selected-option .selected-option .price{width: calc(100% - 300px); text-align: right;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info .total-price-wrap{padding: 1em 0; border-top: 2px solid gray;}
#custom-alert .inner .product-wrap .product-inner .product-content .product-content-info .total-price-wrap .total-price{float: right; color: rgb(0,112,196); font-size: 20px; font-weight: 700;}

#custom-alert .inner .product-wrap .product-inner .product-content .button-wrap{position: absolute; bottom: 0; text-align: right; width: 100%;}

@media(max-width: 1200px){
	#custom-alert .inner .product-wrap .product-inner{flex-direction: column;}
	#custom-alert .inner .product-wrap .product-inner .product-image{width: 100%;}
}