@charset "UTF-8";
.home .banner-wrap{position: relative; width: 100%; overflow-x: hidden;}
.home .banner-wrap .banner{list-style: none; padding: 0; margin: 0;}
.home .banner-wrap .banner li{float: left;}
.home .banner-wrap .banner-page{list-style: none; position: absolute; display: flex; bottom: 10px; width: 100%; padding: 0; margin: 0; justify-content: center;}
.home .banner-wrap .banner-page .name{display: inline-block; padding: 0.5em 1em; background-color: rgba(255,255,255,1); margin-right: 20px; cursor: pointer;}
.home .banner-wrap .banner-page .active-name{background-color: rgba(0,112,192,1); color: white;}
.home .banner-wrap .banner-button{position: absolute; width: 50px; height: 50px; background-color: rgba(0,0,0,0); border: none; outline: none; cursor: pointer;}
.home .banner-wrap .left{left: 0; top: calc((100% - 50px) / 2);}
.home .banner-wrap .right{right: 0; top: calc((100% - 50px) / 2);}