@charset "UTF-8";
.page-content{
	display: flex;
}
.page-content-nav-wrap{
	width: 15%;
	margin-right: 5%;
}
.page-content-nav{
	background-color: red;
	text-align: center;
	border-radius: 1rem;
	color: white;
	margin-bottom: 5%;
}
.page-content-nav-title{
	background-color: gray;
	padding: 10% 0;
	border-radius: 1rem;
	font-size: 1.3rem;
}
.page-content-nav-list{
	list-style: none;
	padding: 1em 0;
	margin: 0 auto;
	width: 90%;
}
.page-content-nav-list > li{
	padding: 3% 0;
}
.page-content-nav-link{
	display: block;
	text-decoration: none;
	width: 100%;
	color: white;
	padding: 2% 0;
	border-radius: 0.5em;
}
.page-content-nav-link:hover{
	background-color: white;
	color: red;
	font-weight: bold;
}
.active-page{
	background-color: white;
	color: red;
	font-weight: bold;
}
.page-content-inner{
	width: 80%;
}
.page-content-title{
	border-bottom: 1px solid gray;
	font-size: 1.2rem;
	padding-top: 1%;
	padding-bottom: 3%;
}
.page-content-html{
	padding: 10px;
}