@charset "UTF-8";
.product-container{width: 80%; margin: 0 auto;}
.product-wrap .product-inner{display: flex; flex-direction: row; padding-bottom: 30px;}
.product-wrap .product-inner .product-image{width: 719px; height: 600px; margin-right: 50px; display: flex;}
.product-wrap .product-inner .product-image #image-one{width: 600px; height: 600px;background-color: rgba(0,0,0,0.1);}
.product-wrap .product-inner .product-image .list-wrap{overflow-y: scroll; width: 109px; direction: rtl;padding-left: 10px;}
.product-wrap .product-inner .product-image #image-list{list-style: none; padding: 0; margin: 0;}
.product-wrap .product-inner .product-image #image-list li{display: block; width: 100px; height: 100px; border: 2px solid rgba(0,0,0,0); cursor: pointer;}
.product-wrap .product-inner .product-image #image-list .active{border: 2px solid black;}

.product-wrap .product-inner .product-content{position: relative; width: calc(100% - 550px); box-sizing: border-box;}
.product-wrap .product-inner .product-content .product-event-wrap{display: flex;}
.product-wrap .product-inner .product-content .product-event-wrap .event-box{display: inline-flex; align-items: center; justify-content: center; background-color: rgb(0,112,196); color: white; padding: 0 1em;}
.product-wrap .product-inner .product-content .product-content-info #name{font-size: 20px; padding: 1em 0;}
.product-wrap .product-inner .product-content .product-content-info .option-wrap{border-bottom: 2px solid gray;}
.product-wrap .product-inner .product-content .product-content-info .option-wrap .option{display: flex; padding: 1em 0 1em 1em;}
.product-wrap .product-inner .product-content .product-content-info .option-wrap .option .option-title{font-size: 16px; flex-basis: 30%; display: flex; align-items: center;}
.product-wrap .product-inner .product-content .product-content-info .option-wrap .option .option-content{font-size: 16px; flex-basis: calc(70% - 1em); text-align: center;}
.product-wrap .product-inner .product-content .product-content-info .option-wrap .option .option-content select{width: 100%;text-align-last: center; -ms-text-align-last: center; -moz-text-align-last: center; outline: none; text-align: center; font-family: "NanumSquare"; font-size: 16px; padding: 0.5em 0; border: 1px solid black;}

.product-wrap .product-inner .product-content .product-content-info #option-wrap{width: calc(100% - 5px); max-height: calc(((16px + 0.5em * 2 + 2px) + 1em * 2) * 3); overflow-y: scroll;}
.product-wrap .product-inner .product-content .product-content-info #option-wrap .option{padding: 0; padding-bottom: 1em;}

.product-wrap .product-inner .product-content .product-content-info #selected-option{width: calc(100% - 5px); max-height: calc((16px + 1em * 2) * 3); overflow-y: scroll;}
.product-wrap .product-inner .product-content .product-content-info #selected-option .selected-option{display: flex; padding: 1em 0; font-size: 16px;}
.product-wrap .product-inner .product-content .product-content-info #selected-option .selected-option .name{width: 200px; text-overflow: ellipsis; height: 16px; font-size: 16px; overflow: hidden; white-space: nowrap; word-break: break-all;}
.product-wrap .product-inner .product-content .product-content-info #selected-option .selected-option .number-wrap{width: 100px;}
.product-wrap .product-inner .product-content .product-content-info #selected-option .selected-option .number-wrap button, input{width: calc(100px / 3 - 2px); border: none; padding: 0; margin: 0; border: 1px solid black; text-align: center; outline: none;}
.product-wrap .product-inner .product-content .product-content-info #selected-option .selected-option .number-wrap button{cursor: pointer;}
.product-wrap .product-inner .product-content .product-content-info #selected-option .selected-option .price{width: calc(100% - 300px); text-align: right;}
.product-wrap .product-inner .product-content .product-content-info .total-price-wrap{padding: 1em 0; border-top: 2px solid gray;}
.product-wrap .product-inner .product-content .product-content-info .total-price-wrap .total-price{float: right; color: rgb(0,112,196); font-size: 20px; font-weight: 700;}

.product-wrap .product-inner .product-content .button-wrap{position: absolute; display: flex; bottom: 0; width: 100%; align-items: flex-end; justify-content: flex-end;}
.product-wrap .product-inner .product-content .button-wrap button{background-color: rgba(0,0,0,0); border: none; padding: 0; margin: 0; margin-right: 15px; cursor: pointer; outline: none;}
.product-wrap .product-inner .product-content .button-wrap button .icon{width: 40px; height: 40px;}
.product-wrap .product-inner .product-content .button-wrap button .icon:hover{transform: scale(1.2);}
.product-wrap .product-inner .product-content .button-wrap #buy{background-color: rgb(0,112,196); color: white; width: 50%; height: 50px; font-size: 20px; margin-right: 0;}

.nav{position: -webkit-sticky; position: sticky; top:0; z-index:10000; background-color: white;}
.nav .nav-inner{display: flex; border-bottom: 2px solid rgb(0,112,196);}
.nav .nav-inner button{flex: 1; cursor: pointer; border: none; background-color: rgba(0,0,0,0.1); font-size: 20px; outline: none; padding: 0.5em 0; border-left: 1px solid gray; border-right: 1px solid gray;}
.nav .nav-inner .active{background-color: rgb(0,112,196); color: white; border-left: 1px solid rgb(0,112,196); border-right: 1px solid rgb(0,112,196);}

#nav-result{font-weight: 700;}
#nav-result table{width: 100%; border: 1px solid gray; border-collapse: collapse; margin-top: 1em; margin-bottom: 1em;}
#nav-result table th{background-color: rgba(0,0,0,0.1);}
#nav-result table td{font-weight: 500;}
#nav-result table th, td{border: 1px solid gray; word-break: keep-all; line-height: 1.5; padding: 0.5em 1em;}
#nav-result table .sub{color: gray; font-size: 0.9em;}
#nav-result table ol{padding: 0; margin: 0; padding-left: 1em;}
#nav-result div{margin-top: 3em; text-align: center;}
#nav-result div img{max-width: 100%;}

@media(max-width: 1200px){
	.product-wrap .product-inner{flex-direction: column;}
	.product-wrap .product-inner .product-image{width: 100%;}
	.product-wrap .product-inner .product-content{width: 100%;}
	.product-wrap .product-inner .product-content .button-wrap{position: relative; bottom: 0;}
	
	.nav .nav-inner button{font-size: 16px;}
	
	#nav-result table th{font-size: 12px;}
	#nav-result table td{font-size: 12px;}
	#nav-result table th, td{padding: 0.5em 0;}
}
