<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="humanandlife.mappers.StoreMapper">
	<select id="getList" resultType="com.dnalab.humanandlife.vo.StoreVO" parameterType="map">
		select
			s2.seq,
			s2.main_category,
			s2.product_code,
			s2.name,
			s2.price,
			s2.count,
			s2.isnew,
			s2.iscolor
		from
			(select
				s1.seq,
				s1.main_category,
				s1.product_code,
				p.name,
				p.price,
				p.count,
				p.isnew,
				p.iscolor
			from
				store s1,
				product p
			where
				seq > 0 and
				main_category = #{vo.main_category} and
				s1.product_code = p.product_code and
				(<include refid="search"></include>)
			) as s2
		<include refid="order"></include>
		limit #{search.start}, #{search.perPage}
	</select>
	
	<select id="getTotalRow" resultType="int" parameterType="map">
		select
			count(*)
		from
			store s,
			product p
		where
			seq > 0 and
			main_category = #{vo.main_category} and
			s.product_code = p.product_code and
			(<include refid="search"></include>)
	</select>
	
	<sql id="search">
		p.name like CONCAT(CONCAT('%',#{search.keyword}),'%')
	</sql>
	
	<sql id="order">
		<if test="vo.orderby == 'count desc'">order by count desc</if>
		<if test="vo.orderby == 'seq desc'">order by seq desc</if>
	</sql>
	
	<select id="getThumbnailList" resultType="com.dnalab.humanandlife.vo.ProductImageVO" parameterType="String">
		select
			product_code,
			color,
			ord,
			filename
		from
			product_image
		where
			product_code = #{product_code} and
			ord = 1
	</select>
	
	<select id="getEvent" resultType="com.dnalab.humanandlife.vo.ProductEventVO">
		select
			e.seq,
			e.product_code,
			e.name,
			e.category,
			e.regdate,
			e.startdate,
			e.enddate,
			e.isstart,
			e.ispersent,
			e.persent,
			e.rounds,
			e.isdiscount,
			e.discount
		from
			(select
				seq,
				product_code,
				name,
				category,
				regdate,
				startdate,
				enddate,
				isstart,
				ispersent,
				persent,
				rounds,
				isdiscount,
				discount
			from
				product_event
			where
				seq = (
					select
						max(seq)
					from
						product_event
					where
						product_code = #{product_code}
				)
			) as e
	</select>
	
	<select id="getOne" resultType="com.dnalab.humanandlife.vo.StoreVO">
		select
			s.seq,
			s.product_code,
			p.name,
			p.price,
			p.count,
			p.isnew,
			p.iscolor
		from
			store s,
			product p
		where
			seq > 0 and
			main_category = 'All' and
			s.product_code = #{product_code} and
			p.product_code = #{product_code}
	</select>
	
	<select id="getImageList" resultType="com.dnalab.humanandlife.vo.ProductImageVO" parameterType="String">
		select
			product_code,
			color,
			ord,
			filename
		from
			product_image
		where
			product_code = #{product_code}
	</select>
	
	<select id="getNessOptionList" resultType="com.dnalab.humanandlife.vo.ProductOptionVO" parameterType="String">
		select
			product_code,
			depth,
			name,
			price_plus,
			additional,
			option_name
		from
			product_option
		where
			additional = 0 and
			product_code = #{product_code}
		order by depth asc, price_plus asc, name asc
	</select>
	
	<select id="getAddOptionList" resultType="com.dnalab.humanandlife.vo.ProductOptionVO" parameterType="String">
		select
			product_code,
			depth,
			name,
			price_plus,
			additional,
			option_name
		from
			product_option
		where
			additional = 1 and
			product_code = #{product_code}
		order by depth asc, price_plus asc, name asc
	</select>
	
	<select id="getProductInfo" resultType="com.dnalab.humanandlife.vo.ProductInfoVO">
		select
			product_code,
			manufacturer,
			brand,
			model,
			origin,
			charact,
			func,
			kinds,
			receipt,
			afterservice,
			content
		from
			product_info
		where
			product_code = #{product_code}
	</select>
	
	<select id="getProductProvision" resultType="com.dnalab.humanandlife.vo.ProductProvisionVO">
		select
			product_code,
			name,
			law,
			manufacturer,
			country,
			servicecenter
		from
			product_provision
		where
			product_code = #{product_code}
	</select>
</mapper>